# Blocklist files/folders in same directory as the .gitignore file
/*

# Includelist some files
!.gitignore
!README.md

# Ignore all files named .DS_Store
**/.DS_Store

!Core/
Core/*
!Core/Src/
!Core/Inc/